@import 'variables';

// ---- base : reset du css, balises globales (ex:html/body) ---- //

// ---- layout : la structure du site ---- //

// ---- modules : partie autonome et reutilisable ---- //

// ---- state : les differents etats d'un module ---- //

// ---- themes : Variantes de présentation (dark mode, @media) ---- //

.b-btn {
    color: $black;
}

.btn {
    cursor: pointer;
    padding: 15px $tenpx;
    margin: $tenpx 4px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
  
.btn:hover {
    opacity: 0.5;
}

.btn-lg {
    font-size: xx-large;
}

.btn-sm {
    font-size: xx-small;
}

.btn-primary {
    background-color: $primary;
} 

.btn-secondary {
    background-color: $secondary;
} 

.btn-success  {
    background-color: $success;
} 

.btn-danger  {
    background-color: $danger;
} 

.btn-warning  {
    background-color: $warning;
} 

.btn-info  {
    background-color: $info;
} 

.btn-light {
    background-color: $light;
} 


/* classe relative à l'ensemble d'une card */
.card {
    position:relative;
    display:flex;
    flex-direction: $card__display-direction;
    width: $card__width;
    min-height: $card__min-height;
    border-radius: $card__border-radius;
  
    word-wrap:break-word;
    border: $onepx solid $lightgrey;
    background-color: $card-bg;
    box-shadow: $onepx $onepx $tenpx $lightgrey;
  }
  
  /* obtention d'une image de card aux proportions adaptatives */
  .card-img {
    max-width: 100%;
    height: auto;
  }
  
  /* contenu textuel sobre et éloigner des bords de la card pour plus de lisibilité */
  .card-body {
    padding: 15px;
    color: black;
  }
  
  /* titre plus grand et espacé par rapport au sous-titre */
  .card-title {
    font-size: 1.75rem;
    margin-bottom: $tenpx;
  }
  
  /* sous-titre légerement plus grand et espacé par rapport au texte */
  .card-subtitle {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  /* texte espacé par rapport au bouton */
  .card-text {
    color: rgb(44, 44, 44);
    margin-bottom: 20px;
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }

* {
  box-sizing: border-box;
}

.row {
    margin: 0 auto;

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    [class^="col-"] {
        float: left;
        padding: 1rem;
    }

    // Mixin qui en fonction de la valeur de début et de fin revoit la largeur de la ligne

    @mixin calcwidht($start, $end) {
        width: calc($start * 100% / $end);
    }

    // Boucle permettant de générer toutes les sélécteurs de classes de lignes et en fonction de leurs nom
    // associe la largeur adéquate 

    @for $x from 1 through 11 {
        @for $i from $x+1 through 12 {
            .col-#{$x}-of-#{$i} {
                @include calcwidht(1,#{$i});
            }
        }
    }
}
