$primary : rgb(19, 19, 180)
$secondary : grey
$success : #5cb85c
$danger : #d9534f
$warning : #f0ad4e
$info : #5bc0de
$light : #f7f7f7


$white : white
$black : black

$card-bg: #fff
$onepx: 1px
$lightgrey: rgb(203, 203, 203)
$tenpx: 10px
