// Police d'écriture globale
$roboto : 'Roboto', sans-serif

// Couleurs relatives aux boutons
$primary : #0d6efd
$secondary : grey
$success : #5cb85c
$danger : #d9534f
$warning : #f0ad4e
$info : #5bc0de
$light : #f7f7f7

// Couleurs basiques
$white : white
$black : black

// Couleurs customs
$lightgrey: rgb(203, 203, 203)

// Couleur du texte d'une card
$card__text-color: rgb(44, 44, 44)

// Variables relatives aux boutons
$cursor_position: pointer
$padding_form: 15px 10px
$margin_size: 10px 4px
$text_transform_form: uppercase
$text_align_position: center
$position_element: relative
$border_radius_size: 0.4rem
$border_size : 0

// variations de taille des boutons
$large: xx-large
$small: xx-small


// Variables générales de card
$card__border: 1px solid
$card__box-shadow: 1px 1px 10px
$card__width: 18rem
$card__min-height: 24rem
$card__border-radius: 0.4rem
$card__display-direction: column

// Largeur maximum des images d'une card
$card__img-max-width: 100%

// Marge interne du contenu de la card
$card__body-padding: 15px
$card__body-bottom-padding: 7px

// Taille des titres et sous-titres de card
$card__title-font-size: 1.75rem
$card__subtitle-font-size: 1.25rem

// Marge standard d'une card
$card__small-margin: 10px
$card__big-margin: 20px

