$btn-primary : rgb(19, 19, 180)
$btn-secondary : grey
$btn-success : #5cb85c
$btn-danger : #d9534f
$btn-warning : #f0ad4e
$btn-info : #5bc0de
$btn-light : #f7f7f7

$white : white
$black : black

$card-bg: #fff
$onepx: 1px
$lightgrey: rgb(203, 203, 203)
$tenpx: 10px
$cardwidth: 18rem
$cardmin-height: 24rem
$cardborder-radius: 0.4rem
$carddisplay-direction: column
