@charset "UTF-8";
.b-btn {
  color: black;
}

.btn {
  cursor: pointer;
  padding: 15px 10px;
  margin: 10px 4px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.btn:hover {
  opacity: 0.5;
}

.btn-lg {
  font-size: xx-large;
}

.btn-sm {
  font-size: xx-small;
}

.btn-primary {
  color: rgb(19, 19, 180);
}

.btn-secondary {
  color: grey;
}

.btn-success {
  color: #5cb85c;
}

.btn-danger {
  color: #d9534f;
}

.btn-warning {
  color: #f0ad4e;
}

.btn-info {
  color: #5bc0de;
}

.btn-light {
  color: #f7f7f7;
}

/* classe relative à l'ensemble d'une card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18rem;
  min-height: 24rem;
  border-radius: 0.4rem;
  word-wrap: break-word;
  border: 1px solid rgb(203, 203, 203);
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(203, 203, 203);
}

/* obtention d'une image de card aux proportions adaptatives */
.card-img {
  max-width: 100%;
  height: auto;
}

/* contenu textuel sobre et éloigner des bords de la card pour plus de lisibilité */
.card-body {
  padding: 15px;
  color: black;
}

/* titre plus grand et espacé par rapport au sous-titre */
.card-title {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

/* sous-titre légerement plus grand et espacé par rapport au texte */
.card-subtitle {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

/* texte espacé par rapport au bouton */
.card-text {
  color: rgb(44, 44, 44);
  margin-bottom: 20px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
* {
  box-sizing: border-box;
}

.row {
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
  padding: 1rem;
}
.row .col-1-of-2 {
  width: calc(100% / 2);
}
.row .col-1-of-3 {
  width: calc(100% / 3);
}
.row .col-1-of-4 {
  width: calc(100% / 4);
}
.row .col-1-of-5 {
  width: calc(100% / 5);
}
.row .col-1-of-6 {
  width: calc(100% / 6);
}
.row .col-1-of-7 {
  width: calc(100% / 7);
}
.row .col-1-of-8 {
  width: calc(100% / 8);
}
.row .col-1-of-9 {
  width: calc(100% / 9);
}
.row .col-1-of-10 {
  width: calc(100% / 10);
}
.row .col-1-of-11 {
  width: calc(100% / 11);
}
.row .col-1-of-12 {
  width: calc(100% / 12);
}
.row .col-2-of-3 {
  width: calc(100% / 3);
}
.row .col-2-of-4 {
  width: calc(100% / 4);
}
.row .col-2-of-5 {
  width: calc(100% / 5);
}
.row .col-2-of-6 {
  width: calc(100% / 6);
}
.row .col-2-of-7 {
  width: calc(100% / 7);
}
.row .col-2-of-8 {
  width: calc(100% / 8);
}
.row .col-2-of-9 {
  width: calc(100% / 9);
}
.row .col-2-of-10 {
  width: calc(100% / 10);
}
.row .col-2-of-11 {
  width: calc(100% / 11);
}
.row .col-2-of-12 {
  width: calc(100% / 12);
}
.row .col-3-of-4 {
  width: calc(100% / 4);
}
.row .col-3-of-5 {
  width: calc(100% / 5);
}
.row .col-3-of-6 {
  width: calc(100% / 6);
}
.row .col-3-of-7 {
  width: calc(100% / 7);
}
.row .col-3-of-8 {
  width: calc(100% / 8);
}
.row .col-3-of-9 {
  width: calc(100% / 9);
}
.row .col-3-of-10 {
  width: calc(100% / 10);
}
.row .col-3-of-11 {
  width: calc(100% / 11);
}
.row .col-3-of-12 {
  width: calc(100% / 12);
}
.row .col-4-of-5 {
  width: calc(100% / 5);
}
.row .col-4-of-6 {
  width: calc(100% / 6);
}
.row .col-4-of-7 {
  width: calc(100% / 7);
}
.row .col-4-of-8 {
  width: calc(100% / 8);
}
.row .col-4-of-9 {
  width: calc(100% / 9);
}
.row .col-4-of-10 {
  width: calc(100% / 10);
}
.row .col-4-of-11 {
  width: calc(100% / 11);
}
.row .col-4-of-12 {
  width: calc(100% / 12);
}
.row .col-5-of-6 {
  width: calc(100% / 6);
}
.row .col-5-of-7 {
  width: calc(100% / 7);
}
.row .col-5-of-8 {
  width: calc(100% / 8);
}
.row .col-5-of-9 {
  width: calc(100% / 9);
}
.row .col-5-of-10 {
  width: calc(100% / 10);
}
.row .col-5-of-11 {
  width: calc(100% / 11);
}
.row .col-5-of-12 {
  width: calc(100% / 12);
}
.row .col-6-of-7 {
  width: calc(100% / 7);
}
.row .col-6-of-8 {
  width: calc(100% / 8);
}
.row .col-6-of-9 {
  width: calc(100% / 9);
}
.row .col-6-of-10 {
  width: calc(100% / 10);
}
.row .col-6-of-11 {
  width: calc(100% / 11);
}
.row .col-6-of-12 {
  width: calc(100% / 12);
}
.row .col-7-of-8 {
  width: calc(100% / 8);
}
.row .col-7-of-9 {
  width: calc(100% / 9);
}
.row .col-7-of-10 {
  width: calc(100% / 10);
}
.row .col-7-of-11 {
  width: calc(100% / 11);
}
.row .col-7-of-12 {
  width: calc(100% / 12);
}
.row .col-8-of-9 {
  width: calc(100% / 9);
}
.row .col-8-of-10 {
  width: calc(100% / 10);
}
.row .col-8-of-11 {
  width: calc(100% / 11);
}
.row .col-8-of-12 {
  width: calc(100% / 12);
}
.row .col-9-of-10 {
  width: calc(100% / 10);
}
.row .col-9-of-11 {
  width: calc(100% / 11);
}
.row .col-9-of-12 {
  width: calc(100% / 12);
}
.row .col-10-of-11 {
  width: calc(100% / 11);
}
.row .col-10-of-12 {
  width: calc(100% / 12);
}
.row .col-11-of-12 {
  width: calc(100% / 12);
}

/*# sourceMappingURL=output.css.map */
